# Don't change the name without changing affinity and such
nameOverride: {{app_name}}
replicaCount: 1

image:
  repository: '{{docker_registry_domain}}/{{organization}}/{{app_name}}'
  pullPolicy: IfNotPresent

imagePullSecretCredentials: ""

healthCheck:
  enabled: true
  path: /health
  port: 6000

http:
  enabled: true
  port: 6001
app: {}
imagePullSecrets: []

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 2000
  runAsGroup: 2000
  fsGroup: 2000

service:
  type: ClusterIP
  port: 6000

resources: {}

autoscaling:
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: 
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 95
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - {{app_name}}
        topologyKey: kubernetes.io/hostname
sentry:
  enabled: false
  debug: false
  environment: local
  sampleRate: 1.0
  tracesSampleRate: 1.0
  dsn: ''
  clientOptions: {}
  additionalTags: []
prometheus:
  enabled: false
  path: "/metrics"
  port: 9090
  latencyHistogramsEnabled: true
  serviceMonitor:
    interval: 15s
    scrapeTimeout: 10s
    relabelings: []
serviceMonitor:
  enabled: false
  namespaceSelector: {}
  annotations: {}
  labels: {}
  interval: null
  scrapeTimeout: null
  relabelings: []
